<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>


	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Lista de Alunos</span></li>
				</ul>
				<a class="btn btn-primary btn-md" href="/aluno/cadastrar"
					role="button"> <span class="oi oi-plus" title="Cadastro"
					aria-hidden="true"></span> <span>Cadastrar Aluno</span>
				</a>
			</div>
		</nav>

		<div class="container">

			<p>
				<i class="oi oi-magnifying-glass"></i><span></span>
				<button class="btn btn-primary" type="button" data-toggle="collapse"
					data-target="#collapseNome" aria-controls="collapseNome">Nome
				</button>
				<button class="btn btn-primary" type="button" data-toggle="collapse"
					data-target="#collapseSala" aria-controls="collapseSala">Sala
				</button>
				<button class="btn btn-primary" type="button" data-toggle="collapse"
					data-target="#collapseEspaco" aria-controls="collapseEspaco">Espaco
				</button>
			</p>
			
			<div class="row">
				<div class="col">
					<div class="collapse" id="collapseNome">

						<nav class="navbar navbar-light bg-light">
							<form class="form-inline" method="GET"
								th:action="@{/aluno/buscar/nome}">
								<input class="form-control mr-sm-2" type="search"
									placeholder="Nome" aria-label="Search" th:name="nome" />
								<button class="btn btn-outline-success my-2 my-sm-0">Buscar por nome</button>
							</form>
						</nav>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="collapse" id="collapseSala">

						<nav class="navbar navbar-light bg-light">
							<form class="form-inline" method="GET"
								th:action="@{/aluno/buscar/sala}">
								<select class="form-control mr-sm-2" th:name="id"
									aria-label="Search">
									<option value="">Sala</option>
									<option th:each="s : ${sala}" th:value="${s.id}"
										th:text="${s.nome}">Sala</option>
								</select>
								<button class="btn btn-outline-success my-2 my-sm-0">Buscar por sala</button>
							</form>
						</nav>

					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<div class="collapse" id="collapseEspaco">

						<nav class="navbar navbar-light bg-light">
							<form class="form-inline" method="GET"
								th:action="@{/aluno/buscar/espaco}">
								<select class="form-control mr-sm-2" th:name="id"
									aria-label="Search">
									<option value="">Espaco</option>
									<option th:each="e : ${espaco}" th:value="${e.id}"
										th:text="${e.nome}">espaco</option>
								</select>
								<button class="btn btn-outline-success my-2 my-sm-0">Buscar por espaco</button>
							</form>
						</nav>

					</div>
				</div>
			</div>
	


			<div class="table-responsive">

				<div th:replace="fragments/alert"></div>

				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th>Nome</th>
							<th>Sobrenome</th>
							<th>Sala 1 etapa</th>
							<th>Sala 2 etapa</th>
							<th>Espaco café</th>
							<th>Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="a : ${aluno}">
							<td th:text="${a.id}">2</td>
							<td th:text="${a.nome}">nome</td>
							<td th:text="${{a.sobre_nome}}|">sobrenome</td>
							<td th:text="${a.sala.nome}">sala</td>
							<td th:text="${a.sala2.nome}">Sala2</td>
							<td th:text="${a.espaco.nome}">espaco</td>

							<td colspan="2"><a class="btn btn-info btn-sm"
								th:href="@{/aluno/editar/{id} (id=${a.id}) }"
								role="button"> <span class="oi oi-brush" title="Editar"
									aria-hidden="true"></span>
							</a>
								<button
									th:id="${#strings.concat('btn_aluno/excluir/', a.id) }"
									type="button" class="btn btn-danger btn-sm" data-toggle="modal"
									data-target="#myModal">
									<span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
								</button>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div>

	</section>
</body>
</html>
